<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <img src="static/images/logo2.png" class="img-responsive" alt="" style="height: 80px;width: 120px;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
        <ul class="menu mx-auto">
            <li class="menu-item">
              <a href="{% url 'Editor' %}" class="nav-link">Home</a>
            </li>
            <li class="menu-item">
              <a href="{% url 'project' %}" class="nav-link">Projects</a>
            </li>
            <li class="menu-item">
              <a href="#about" class="nav-link">About me</a>
            </li>
            <li class="menu-item">
              <a href="#contact" class="nav-link">Contact Me</a>
            </li>
            <li class="menu-item">
              <a href="/resume.pdf" download="Isaac Kiptoo Kilimo Resume.pdf btn btn-outline-success" class="nav-link download-resume">
                Download Resume
              </a>
            </li>
          </ul>
         
        
      </div>
    </div>
  </nav>